<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Account List</title>
</head>
<body>
<table id="table">
    <thead>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr id="members">

    </tr>
    </tbody>
</table>
</body>

<script>
    $.ajax({
        type: 'GET'
        , url: '/member' // / 가붙으면 프로젝트 경로, 안붙으면 지금 경로에서!
        , dataType: 'json'
        , contentType: 'application/json'
        , success: function (result) { // AjaxAccountController 에서 findList 메소드로 return 해준 값을 result 로 받겠다.

            // result 가 배열이기 때문에 for 문으로 반복
            for (let i = 0; i < result.length; i++) {
                $('#table').append(" <tr> <td>" + result[i].memberKey + "</td>\n" +
                    "        <td><a href='/account/detailPage/" + result[i].memberKey + "'>" + result[i].memberName + "</a></td>\n" +
                    "        <td>" + result[i].email + "</td>\n" +
                    "        <td>" + result[i].phone + "</td>" +
                    " <td><button onclick=\"location.href='/account/editPage/"+result[i].memberKey+"'\">Edit</button></td>\n" +
                    "<td><button onclick=\"location.href='/account/remove/"+result[i].memberKey+"'\">Delete</button></td>" +
                    "</tr>")


            }
            console.log(result);
        }
    })
</script>
</html>