<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Member Account</title>
</head>
<body>
<form th:action="@{'/account/edit/' + ${account.memberKey}}" method="post">
    <input type="hidden" th:value="${account.memberKey}" id="memberKey">
    <!-- controller 에서 받아온 데이터를 model 에서 꺼내서 쓸 때 -->
    <label for="memberName">
        <p class="label-txt"><b>Name</b></p>
        <input type="text" id="memberName" th:value="${account.memberName}" class="input" name="memberName" disabled>
    </label>
    <label for="email">
        <p class="label-txt"><b>Email</b></p>
        <input type="text" id="email" th:value="${account.email}" class="input" name="email">
    </label>
    <label for="password">
        <p class="label-txt"><b>Password</b></p>
        <input type="password" id="password" th:value="${account.password}" class="input" name="password">
    </label>
    <label for="phone">
        <p class="label-txt"><b>Phone</b></p>
        <input type="text" id="phone" th:value="${account.phone}" class="input" name="phone">
    </label>
    <button type="button" id="edit_btn" onclick="editAccount('[[${account.memberKey}]]')">Edit</button>
</form>
</body>
<script>

    function editAccount() {

        const confirmAlert = confirm('Are you sure you want to edit your account?');

        const memberKey = document.getElementById("memberKey").value;
        const memberName = document.getElementById("memberName").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const phone = document.getElementById("phone").value;


        const dataList = {
            "memberKey": memberKey,
            "memberName": memberName,
            "email": email,
            "password": password,
            "phone": phone
        };
        console.log(dataList);

        if (confirmAlert) {
            $.ajax({
                type: 'PUT'
                , url: '/member/' + memberKey
                , dataType: 'json'
                , data: JSON.stringify(dataList)
                , contentType: 'application/json'
                , success: function (result) {
                    alert('Your Account was successfully updated.');
                    location.href = "/account/detailPage/" + memberKey;
                }
            })
        }
    }

</script>
</html>