<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
<form id="join_form" action="/account/join" method="post">
    <label for="memberName">
        <p class="label-txt"><b>Name</b></p>
        <input type="text" id="memberName" class="input" name="memberName">
    </label>
    <label for="email">
        <p class="label-txt"><b>Email</b></p>
        <input type="text" id="email" class="input" name="email" oninput="confirmEmail('${/ajax/account/email}', this.value);">
        <label id="confirm_email_res"></label>
    </label>
    <label for="password">
        <p class="label-txt"><b>Password</b></p>
        <input type="password" id="password" class="input" name="password">
    </label>
    <label for="confirm_password">
        <p class="label-txt"><b>Confirm Password</b></p>
        <input type="password" id="confirm_password" class="input" name="confirm_password" onkeyup="confirmPassword()"><span id="confirmAlert"></span>
    </label>
    <label for="phone">
        <p class="label-txt"><b>Phone</b></p>
        <input type="text" id="phone" class="input" name="phone">
    </label>
    <button type="submit" id="join_btn" onclick="join();">Register</button>
</form>
</body>
</html>
<script>

    if ([[${error}]]) {
        alert("이미 있는 회원 정보입니다.");
    }

    function confirmPassword() {
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirm_password');
        const confirmAlert = document.getElementById('confirmAlert');
        const correctColor = "#00ff00";
        const incorrectColor = "#ff0000";

        if(password.value == confirmPassword.value) {
            confirmAlert.style.color = correctColor;
            confirmAlert.innerHTML = "Correct Password";
        } else {
            confirmAlert.style.color = incorrectColor;
            confirmAlert.innerHTML = 'Incorrect Password';
        }
    }

    function join() {
        const memberName = document.getElementById("memberName");
        if(memberName.value == "" || memberName.value == undefined) {
            alert("Please enter your name.");
            memberName.focus();
            return;
        }

        const confirm_email = document.getElementById("confirm_email_res").innerText;
        if(confirm_email == "" || confirm_email == undefined) {
            alert("Please enter your email.");
            confirm_email.focus();
        } else if (confirm_email != "Available") {
            alert("Email address is already exists.");
            document.getElementById("email").focus();
            return;
        }

        const password = document.getElementById("password");
        if(password.value == "" || password.value == undefined) {
            alert("Please enter a password");
            password.focus();
            return;
        }

        if(!compare_result) {
            alert("Please enter the same password as above.");
            return;
        }

        document.join_form.submit();
        alert("Your account has been created successfully.");

    }

    function confirmEmail() {
        const confirm_email = document.getElementById("confirm_email_res").innerText;
        if(confirm_email == "" || confirm_email == undefined) {
            alert("Please enter your email.");
            confirm_email.focus();
            return;
        }
        $.ajax({
            url: "${/ajax/account/email}",
            type: "get",
            datatype: "json",
            data: {
                email: document.getElementById("email").value
            },
            success: function(data) {
                if(data.result == false) {
                    document.getElementById('confirm_email_res').style.color = "green";
                    document.getElementById('confirm_email_res').innerText = "Available";
                } else {
                    document.getElementById('confirm_email_res').style.color = "red";
                    document.getElementById('confirm_email_res').innerText = "Email address is already exists.";
                }
            }
        });
    }



</script>