<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>

<div>
    <div>
        <p class="label-txt"><b>productName</b></p>
        <input th:value="${product.productName}" size=40 disabled>
    </div>
    <div>
        <p class="label-txt"><b>Description</b></p>
        <textarea th:value="${product.description}" th:text="${product.description}" cols=40 rows=10 disabled></textarea>
    </div>
    <div>
        <p class="label-txt"><b>Price</b></p>
        <input th:value="${product.price}" disabled>
    </div>
    <div>
        <p class="label-txt"><b>Brand</b></p>
        <input th:value="${product.brand}" disabled>
    </div>
    <div>
        <p class="label-txt"><b>Color</b></p>
        <input th:value="${product.color}" disabled>
    </div>
    <div>
        <p class="label-txt"><b>Stock</b></p>
        <input th:value="${product.stock}" disabled>
    </div>
</div>
<div>
    <button th:onclick="removeProduct('[[${product.productKey}]]')">Delete</button>
<!--    <button th:onclick="location.href='/admin/product/remove/[[${product.productKey}]]'">Delete</button>-->
    <button th:onclick="location.href='/admin/product/editPage/[[${product.productKey}]]'">Edit</button>
    <button th:onclick="'location.href=\''+ @{/admin/product/listPage} + '\''">List</button>
</div>

<script>
function removeProduct(productKey) {
    // var productKeyArray = $(".deleteBtn").data("productKey");
    const productKeyArray = [];
    productKeyArray.push(productKey);

    const confirmAlert = confirm('Are you sure you want to permanently remove this item?');

    // jQuery 사용 지양!! 왜? 무겁고 느림 (jQuery 단점 찾아보기)
    if(confirmAlert) {

        $.ajax({
            type : 'POST'
            ,url : '/product/checked/remove'
            ,dataType : 'json'
            ,data : JSON.stringify(productKeyArray)
            ,contentType : 'application/json'
            ,success : function(result) {
                alert('Item has been deleted.');
                location.href="/product/listPage";
            },
            error : function(request, status, error) {

            }
        })
    }
}

</script>

</body>
</html>