<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta chakrrset="UTF-8">
    <title>Register a product</title>
</head>
<body>
<form action="/product/register" method="post">
<!--    <input id="productKey" type="hidden" th:value="${product.productKey}" />
    <input id="regTime" type="hidden" th:value="${product.regTime}" />-->
    <div>
        <label for="category"></label>
        <select id="category" name="category" onchange="loadSiblings()">
            <option>Select a category</option>
            <option th:each="list : ${category}"
                    th:value="${list.categoryKey}"
                    th:text="${list.categoryName}"></option>
        </select>

    </div>
    <label for="productName">
        <p class="label-txt"><b>Product Name</b></p>
        <input type="text" id="productName" class="input" name="productName" size=40>
    </label>
    <label for="description">
        <p class="label-txt"><b>Description</b></p>
        <textarea id="description" class="input" name="description" cols=40 rows=10></textarea>
    </label>
    <label for="price">
        <p class="label-txt"><b>Price</b></p>
        <input type="text" id="price" class="input" name="price">
    </label>
    <label for="brand">
        <p class="label-txt"><b>Brand</b></p>
        <input type="text" id="brand" class="input" name="brand">
    </label>
    <label for="color">
        <p class="label-txt"><b>Color</b></p>
        <input type="text" id="color" class="input" name="color">
    </label>
    <label for="stock">
        <p class="label-txt"><b>Stock</b></p>
        <input type="text" id="stock" class="input" name="stock">
    </label>
<button type="submit">Register</button>
</form>
</body>
</html>
<script>
    function loadSiblings () {
        const value = document.querySelector('#category').value;
        // ajax 로 호출
        // 이것의 길이가 > 0 이상이다
        // select 하나 추가
    }


    // https://alvarotrigo.com/blog/javascript-select-option/
    // https://m.blog.naver.com/whydda/221934977623
    function createSelectBox(id, name, listData){
        const select = document.createElement('select');
        select.id = id;
        select.name = name;

        //최상위 전체 option 삽입
        const option = document.createElement("option");
        option.value = "ALL";
        option.text = "전체";
        select.appendChild(option);

        for(const i in listData){
            const option = document.createElement("option");
            option.value = listData[i].value;
            option.text = listData[i].text;
            select.appendChild(option);
        }

        return select;
    }

</script>