<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
</head>
<body>
<h2 class="label-txt"><b>Category Details</b></h2>
<input type="hidden" th:value="${category.categoryKey}">
<div>
    <div>
        <label for="categoryKey"></label>
        <select id="categoryKey" name="categoryKey">
            <option>Select a category</option>
            <option th:value="${category.upperKey}"></option>
        </select>
    </div>
    <div>
        <label>
            <input th:value="${category.categoryName}" disabled>
        </label>
    </div>
</div>
<div>
    <button th:onclick="location.href='/category/remove/[[${category.categoryKey}]]'">Delete</button>
    <button th:onclick="location.href='/category/editPage/[[${category.categoryKey}]]'">Edit</button>
    <button th:onclick="'location.href=\''+ @{/category/listPage} + '\''">List</button>
</div>
</body>
</html>