<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
</head>
<body>
<h2 class="label-txt"><b>Edit a Category</b></h2>

<form th:action="@{'/category/edit/' + ${category.categoryKey}}" method="post">
    <input type="hidden" th:value="${category.categoryKey}">
    <div>
        <div>
            <label for="categoryKey"></label>
            <select id="categoryKey" name="categoryKey">
                <option>Select a category</option>
                <option th:value="${list.upperKey}"
                        th:text="${list.categoryName}"></option>
            </select>
        </div>
        <div>
            <label>categoryName</label>
            <!-- th: 는 서버에서 받아온 값(session 이나 model)을 표현할 때 쓴다. 필요가 없는데 사용할 경우, 메모리 효율성이 떨어짐 -->
            <label>
                <input type="text" name="categoryName" th:value="${category.categoryName}">
            </label>
        </div>
    </div>
    <div>
        <!-- th: 는 타임리프 문법을 사용할 때 쓴다 -->
        <button th:onclick="location.href='/category/remove/[[${category.categoryKey}]]'">Delete</button>
        <button type="submit">Edit</button>
        <button th:onclick="'location.href=\''+ @{/category/listPage} + '\''">List</button>
    </div>
</form>
</body>
</html>