<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<!-- Ctrl + F5 : 캐시지우면서 새로고침 -->
<body>
    <table>
        <thead>
            <tr> <!-- 부모태그(=상위태그) -->
                <th>No</th> <!-- 자식태그(=하위태그) -->
                <th>Category Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="list: ${category}" onmouseover="showTab()"> <!-- th:text="${list.categoryName}" == [[${list.categoryName}]] -->
                <td th:text="${list.categoryKey}"></td>
                <td><a th:href="'/category/detailPage/'+${list.categoryKey}" th:text="${list.categoryName}"></a></td>
                <td><button th:onclick="location.href='/category/remove/[[${list.categoryKey}]]'">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button th:onclick="'location.href=\''+ @{/category/registerPage} + '\''">Add</button>
    <!-- <p name="categoryName">[[${categoryName}]]</p> -->
</form>
</body>

<script>
    /* javascript 는 java 와 달리 타입이 없다(=리턴값이 없다) */

    /*
    * this 는 '자기 자신'을 의미
/     * 자바스크립트에서 this 가 굉장히 여러의미로 쓰이는데,
    * 함수의 파라미터로 넣었을 때는 function 그 자체가 this 가 된다.
    * */
    function showTab() {
        button.style.visibility = 'visible'
    }


</script>
</html>