<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Create a category</title>
</head>
<body>
<form action="/category/register" method="post">
    <!-- Controller 에서의 mapping 정보랑 동일할 경우 action 만 써주면되고,
         다를 경우 action="" 에 써서 매칭
    -->
    <div>
        <label for="categoryKey"></label>
        <select id="categoryKey" name="categoryKey">
            <option>Select a category</option>
            <option th:each="list : ${topLevelCategory}"
                    th:value="${list.categoryKey}"
                    th:text="${list.categoryName}"></option>
        </select>
    </div>
    <label for="categoryName">
        <p class="label-txt"><b>Category Name</b></p>
        <input type="text" id="categoryName" class="input" name="categoryName">
    </label>
    <button type="submit">Register</button>
    <!-- submit 하는 순간 <input>태그의 name 별로 서버로 전송 -->
</form>
</body>
</html>