<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mybatis 의 경우, API -> DB 부터 작업 -->
<mapper namespace="com.project.ecommerce.mapper.OrderMapper">
    <insert id="insert" parameterType="OrderDto">
        INSERT INTO ORDERS (RECEIVER_NAME, RECEIVER_ADDRESS, RECEIVER_PHONE, MEMBER_KEY, REQUIREMENT, TOTAL_PRICE)
        VALUES (#{receiverName}, #{receiverAddress}, #{receiverPhone}, #{memberKey}, #{requirement}, #{totalPrice})
    </insert>

    <select id="selectOrderByKey" resultType="OrderDto">
        SELECT ORDER_KEY,
               RECEIVER_NAME,
               RECEIVER_ADDRESS,
               RECEIVER_PHONE,
               MEMBER_KEY,
               REQUIREMENT,
               TOTAL_PRICE
          FROM ORDERS
         WHERE ORDER_KEY = #{orderKey}
    </select>

    <update id="updateOrder" parameterType="orderDto">
        UPDATE ORDERS
           SET RECEIVER_NAME = #{receiverName},
               RECEIVER_ADDRESS = #{receiverAddress},
               RECEIVER_PHONE = #{receiverPhone}
         WHERE ORDER_KEY = #{orderKey}
    </update>

    <update id="deleteOrder">
        UPDATE ORDERS
           SET DEL_FLAG = 1
         WHERE ORDER_KEY IN (
         <foreach collection="orderKeyArray" item="orderKey" index="key" separator=",">
             #{orderKey}
         </foreach>
         )
    </update>

</mapper>