<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ecommerce.mapper.ProductMapper">

    <insert id="createProduct" parameterType="productDto">
        INSERT INTO PRODUCT (PRODUCT_NAME, PRICE, DESCRIPTION, BRAND, COLOR, STOCK)
        VALUES (#{productName}, #{price}, #{description}, #{brand}, #{color}, #{stock})
    </insert>

    <select id="selectProduct" resultType="productDto">
        SELECT PRODUCT_KEY, PRODUCT_NAME, PRICE, CATEGORY, DESCRIPTION, BRAND, COLOR, STOCK
          FROM PRODUCT
         WHERE DEL_FLAG = 0
    </select>

    <select id="selectProductByKey" resultType="productDto">
        SELECT PRODUCT_KEY, PRODUCT_NAME, PRICE, CATEGORY, DESCRIPTION, BRAND, COLOR, STOCK
          FROM PRODUCT
         WHERE PRODUCT_KEY = #{productKey}
    </select>

    <update id="updateProduct" parameterType="productDto">
        UPDATE PRODUCT
           SET PRODUCT_NAME = #{productName},
               PRICE = #{price},
               DESCRIPTION = #{description},
               BRAND = #{brand},
               COLOR = #{color},
               STOCK = #{stock}
         WHERE PRODUCT_KEY = #{productKey}
    </update>

    <update id="deleteProduct" parameterType="productDto">
        UPDATE PRODUCT
           SET DEL_FLAG = 1
         WHERE PRODUCT_KEY = #{productKey}
    </update>

    <select id="selectCategory" resultType="categoryDto">
        SELECT CATEGORY_KEY, CATEGORY_NAME
          FROM CATEGORY
    </select>

    <update id="deleteCheckedProduct" parameterType="productDto">
        UPDATE PRODUCT
           SET DEL_FLAG = 1
         WHERE PRODUCT_KEY = #{productKey}
    </update>

</mapper>